# Qt Creator build folder
build-Calculator-Desktop*/

# Visual studio folders and files
*.vs
*.ilk
*.pdb

# Clion IDE
**/cmake-build-debug
.idea

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
!qwindowsd.dll
!Qt5Cored.dll
!Qt5Guid.dll
!Qt5Widgetsd.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app